@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: rgb(221, 218, 213)
}
.container_main {
  @include reset-list;
  min-height: 100vh;
  min-width: 100%;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.25rem;
}
